{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}
<h1>Добавить категорию</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}