{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<h1>Добавить товар</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}