{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Товары</h1>
<div class="card" style="width: 18rem;">
    <img src="/static/images/Pink_Birkin_bag.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Сумка Бирка</h5>
      <p class="card-text"></p>
    </div>
  </div>

</ul>
{% endblock %}