{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
{% if product.description %}
    <p>{{ product.description }}</p>
{% endif %}
<p>Категория: {{ product.category }}</p>
<p>Цена: {{ product.price }}</p>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
{% endblock %}